@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}



:root {
    --background-color: #ffffff;
    --text-color: #0D1317;
    --off-white: #EDF7FF;
    --orange: #FF6B39;
    --dark-blue: #1D3444;
    --light-blue: #00B5BE;
    --off-blue: #EDF7FF;
    --light-dark-blue: #DCEAF5;
    --light-grey: #5B5B5B;
}

/* Navigation */

nav {
    margin: 0 9%;
    margin-top: 16px;
    height: 52px;
}

ul {
    margin: 0;
    float: right;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

img {
    margin: 0;
    margin-top: 12px;
    height: 28px;
}


li {
    margin: 16px;
    display: inline-block;
}


.buttonList {
    margin: 0;
}

.button {
    margin: 0;
    margin-left: 24px;
    border: 0;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    background-color: #FEF3E6;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
}

/* Section 1 */

.section1 {
    background-image: url(./assets/background.png);
    display: flex;
    justify-content: space-between;
    z-index: 0;
    width: 100%;
    height: 500px;
    color: var(--dark-blue);
    flex-wrap: wrap;

}

.title1 {
    margin: 65px;
    padding: 2rem;
    width: 460px;
    /* display: flex; */
}

.title1 h1 {
    font-size: xx-large;
}

.title1 p {
    font-size: smaller;
    color: var(--light-grey);
}

.title1 button {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 31px;
    width: 151px;
    height: 37px;
}

.title1 h3 {
    display: flex;
}

.title2 img {
    margin: 100px;
    height: 400px;
    width: 600px;
}

.title3 {
    /* padding: 2rem; */
    margin-top: 40px;
}

.title4 {
    display: flex;
    margin-top: 14px;

}

.title5 {
    margin-top: 6px;
}

.title6 {
    margin-left: 22px;
    margin-top: 8px;
}

/* Section 2 */

.section2 {

    margin-left: 120px;
    margin-top: 71px;
}

.section2 h1 {
    background: linear-gradient(to right, #013A4C, #00B5BE, #FF9900, #FF6B39);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section2 p {
    font-size: smaller;
    color: var(--light-grey);
    width: 550px;
}

.card {
    display: flex;
    width: 100%;
}

.card img {
    height: 70%;
    width: 75%;
}

.card p {
    width: 90%;
    margin-top: 10px;
    /* margin-left: 30px; */
}

.card .learn {
    height: 25%;
    width: 25%;

}

/* Section 3 */

.section3 {
    margin-top: 5%;
    background-image: url(./assets/blue_bg.png);
    display: flex;
    z-index: 1;
    background-color: var(--light-blue);
    height: 400px;

}

.section3 .glowing {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 126px;
}

.section3 .glowing1 {
    width: 60%;
}