@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}



:root {
    --background-color: #ffffff;
    --text-color: #0D1317;
    --off-white: #EDF7FF;
    --orange: #FF6B39;
    --dark-blue: #1D3444;
    --light-blue: #00B5BE;
    --off-blue: #EDF7FF;
    --light-dark-blue: #DCEAF5;
    --light-grey: #5B5B5B;
    --bluish-grey: #a8bccc;
}

/* Navigation */

nav {
    margin: 0 9%;
    margin-top: 16px;
    height: 52px;
}

nav ul {
    margin: 0;
    float: right;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav img {
    margin: 0;
    margin-top: 12px;
    height: 28px;
}


nav li {
    margin: 16px;
    display: inline-block;
}


.buttonList {
    margin: 0;
}

.button {
    margin: 0;
    margin-left: 24px;
    border: 0;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    background-color: #FEF3E6;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
}

/* Section 1 */

.section1 {
    background-image: url(./assets/background.png);
    display: flex;
    justify-content: space-between;
    z-index: 0;
    width: 100%;
    height: 500px;
    color: var(--dark-blue);
    flex-wrap: wrap;

}

.title1 {
    margin: 65px;
    padding: 2rem;
    width: 460px;
    /* display: flex; */
}

.title1 h1 {
    font-size: xx-large;
}

.title1 p {
    font-size: smaller;
    color: var(--light-grey);
}

.title1 button {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 31px;
    width: 151px;
    height: 37px;
}

.title1 h3 {
    display: flex;
}

.title2 img {
    margin: 100px;
    height: 400px;
    width: 600px;
}

.title3 {
    /* padding: 2rem; */
    margin-top: 40px;
}

.title4 {
    display: flex;
    margin-top: 14px;

}

.title5 {
    margin-top: 6px;
}

.title6 {
    margin-left: 22px;
    margin-top: 8px;
}

/* Section 2 */

.section2 {

    margin-left: 120px;
    margin-top: 71px;
}

.section2 h1 {
    background: linear-gradient(to right, #013A4C, #00B5BE, #FF9900, #FF6B39);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section2 p {
    font-size: smaller;
    color: var(--light-grey);
    width: 550px;
}

.card {
    display: flex;
    width: 100%;
}

.card img {
    height: 50%;
    width: 70%;
}



.card .learn {
    height: 25%;
    width: 25%;

}

/* Section 3 */

.section3 {
    margin-top: 5%;
    background-image: url(./assets/blue_bg.png);
    display: grid;
    z-index: 1;
    background-color: var(--light-blue);
    height: 500px;

}

.section3 .glowing {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    /* margin-left: 126px; */
}

.section3 .glowing1 {
    width: 38%;
    margin-left: 124px;
}

.section3 .glowing2 {
    width: 35%;
    margin-right: 15%;

}

.shimmering {
    display: flex;

}

.shimmering .card21 {
    background-color: white;
    width: 347px;
    height: 193px;
    margin-top: 27px;
    margin-left: 126px;
    border-radius: 27px;
}

.shimmering .card21 img {
    margin-left: 48px;
    margin-top: 24px;
}

.shimmering .card21 h1 {
    font-size: large;
    margin-top: 5px;
    padding-left: 3rem;
}

.shimmering .card21 p {
    font-size: smaller;
    margin-top: 5px;
    padding-left: 3rem;
}

.shimmering .card22 {
    background-color: white;
    width: 347px;
    height: 193px;
    margin-top: 27px;
    margin-left: 126px;
    border-radius: 27px;
}

.shimmering .card22 img {
    margin-left: 48px;
    margin-top: 24px;
}

.shimmering .card22 h1 {
    font-size: large;
    margin-top: 5px;
    padding-left: 3rem;
}

.shimmering .card22 p {
    font-size: smaller;
    margin-top: 5px;
    padding-left: 3rem;
}


.shimmering .card23 {
    background-color: white;
    width: 347px;
    height: 193px;
    margin-top: 27px;
    margin-left: 126px;
    border-radius: 27px;
}

.shimmering .card23 img {
    margin-left: 48px;
    margin-top: 24px;
}

.shimmering .card23 h1 {
    font-size: large;
    margin-top: 5px;
    padding-left: 3rem;
}

.shimmering .card23 p {
    font-size: smaller;
    margin-top: 5px;
    padding-left: 3rem;
}

.section4 {
    display: flex;
    margin-top: 133px;
    justify-content: center;
}



.section4 p {
    width: 40%;
}

.section4 img {
    margin-top: -517px;
    margin-left: 550px;
    height: 580px;
    width: 580px;
}

.effervescent {
    margin-top: 95px;
    padding-left: 13rem;

}

.effervescent h1 {
    width: 35%;
}

.effervescent1 {
    display: flex;
    margin-top: 50px;
}

.effervescent1 h1 {
    color: var(--orange);
}

.effervescent12 {
    margin-left: -390px;
    color: var(--text-color);
}

.effervescent12 h1 {
    color: var(--orange) !important;
}

/* Section 5 */

.glimmering {}

.image2 {
    background-image: url(./assets/ribbon_bg.png);
    width: 87%;
    height: 682px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 120px;
}


.image2 .navigation2 {
    display: flex;
    justify-content: space-between;
    margin: -10px 694px 10px 8px;
}

.navigation2 h4 {
    margin: 70px -60px 0px 60px;
}

/* Navigation inside Section 5 */

.business {
    top: 65px;
    left: 221px;
}

.business span {
    color: var(--orange);
    background: white;
    border: white solid;
    border-top-width: 14px;
    border-right-width: 20px;
    border-bottom-width: 13px;
    border-left-width: 20px;
    border-radius: 50px;
}

.digitalization {
    color: var(--bluish-grey);
    top: 65px;
    left: 391px;
}

.digitalization2 {
    border: 2px #a8bccc solid;
    border-radius: 30px;
    margin: 2px 2px 2px 2px;
    width: 20px;
    height: 20px
}

.risk {
    color: var(--bluish-grey);
    top: 65px;
    left: 524px;
}

.risk2 {
    border: 2px #a8bccc solid;
    border-radius: 50px;
}

.section5 {
    display: flex;
}

.section5 .content h1 {
    width: 50%;
    margin: 93px 0px 13px 75px;
}

.section5 .content p {
    width: 60%;
    margin: 10px 0px 13px 75px;
}

.section5 .image3 img {
    width: 472px;
    height: 466px;
    margin: 88px 60px 0px 0px;
}

.image2 .see {
    width: 100px;
    height: 100px;
    margin: -57px 0px 0px 75px;
}

/* Section 6 */

.section6 {
    display: flex;
    position: relative;
}

.section6 .image4 img {
    right: 160px;
    position: relative;

}

.section6 .image5 img {
    right: 160px;
    position: relative;
    z-index: 0;
}

.section6 .image5 h1 {
    width: 20%;
    color: white;
    margin: -386px 15px 30px 2px;
    position: absolute;
}

.section6 .image5 .job {
    top: 341px;
    left: 966px;
    position: absolute;
}

.job span {
    color: var(--orange);
    background: white;
    border: white solid;
    border-top-width: 14px;
    border-right-width: 20px;
    border-bottom-width: 13px;
    border-left-width: 20px;
    border-radius: 50px;
}

/* Section 7 */

.section7 {
    display: flex;
    height: 500px;
}

.section7 .content2 h1 {
    width: 50%;
    margin: 102px 12px 30px 181px;
}

.section7 .content2 p {
    width: 63%;
    margin: 27px 19px 30px 184px;
}

.section7 .image6 img {
    height: 401px;
    width: 520px;
    margin: 57px 591px 30px 30px;
}

.section7 .content2 .content21 img {
    margin: 4px 60px 30px 185px;
}

.section7 .content2 .content21 .chikelu {
    margin: -94px 30px 30px 282px;
}

.section7 .content2 .content21 .chikelu span {
    color: var(--dark-blue);
}

.section7 .content2 .content21 .ceo {
    margin: -31px 30px 30px 282px;
}

.section7 .content2 .content21 .ceo span {
    color: var(--orange);

}

/* Section 8 */

.section8 {
    background-color: var(--light-dark-blue);
    height: 700px;
}

.section8 h1 {
    color: var(--dark-blue);
    margin: 30px 36px 30px 111px;

}

.section8 p {
    font-size: smaller;
    color: var(--light-grey);
    /* width: 550px; */
}

.card8 {
    display: flex;
    width: 100%;
}

.card8 .card81 img {
    position: absolute;
    margin: 8px 42px 30px 107px;
}


.card8 .card82 img {
    position: absolute;
    margin: 8px 1px 30px 547px;
}

.card8 .card83 img {
    position: absolute;
    margin: 10px 30px 30px 990px;
}

/* .card8 p {
    width: 90%;
    margin-top: 10px;
} */

.card8 .card81 .learn81 {
    height: 100px;
    width: 100px;
    margin: 397px 30px 30px 125px;
    position: absolute;
}

.card8 .card82 .learn82 {
    height: 100px;
    width: 100px;
    margin: 397px 30px 30px 569px;
}

.card8 .card83 .learn83 {
    height: 100px;
    width: 100px;
    margin: 397px 30px 30px 1014px;
}

.card8 .card81 .white81 h2 {
    position: absolute;
    width: 24%;
    margin: 237px 30px 30px 123px;

}

.card8 .card82 .white82 h2 {
    position: absolute;
    width: 26%;
    margin: 237px 45px 30px 570px;
}

.card8 .card83 .white83 h2 {
    position: absolute;
    width: 24%;
    margin: 237px 30px 30px 1011px;
}

.card8 .card81 .white81 p {
    position: absolute;
    width: 20%;
    /* width: 0%; */
    margin: 323px 30px 30px 123px;
}

.card8 .card82 .white82 p {
    position: absolute;
    width: 20%;
    margin: 323px 31px 32px 568px;
}

.card8 .card83 .white83 p {
    position: absolute;
    width: 20%;
    margin: 323px 31px 32px 1011px;
}